.ifc-viewer .marker {
	position: absolute;
	width: 32px;
	height: 32px;
	display: flex;
	place-content: center;
	border-width: 2px;
	border-radius: 4px;
	background-color: transparent;
	border-color: #737373;
	border-style: solid;

	&.hoverEffect:hover {
		width: 34px;
		height: 34px;
		border-width: 3px;
	}

	&.blue {
		border-color: var(--color-blue-highlight);
	}

	&.green {
		border-color: var(--color-green-highlight);
	}

	&.yellow {
		border-color: var(--color-yellow-highlight);
	}

	&.red {
		border-color: var(--color-red-highlight);
	}
}
